/*Styles for the App component*/

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
   font-size: 1.25em;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#appMain > * {
  margin-top: 2em;
  margin-bottom: 1em;
}

.siteIcon {
  max-height: 0.75em;
}

#topBar {
  display: flex;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  margin-top: 0; /*important to avoid inherited values*/
  margin-bottom: 0; /*important to avoid inherited values*/
  background-color: #345a7b;
  color: #ffffff;
  border: 2px solid rgb(96 139 168);
}

/* All top-level children of nav elements (TopBar) */
nav > * {
  vertical-align: middle;
}

#topBar button {
  border: none;
  background-color: inherit;
  color: #FFFFFF;
  font-size: 1em;
}

/* Temp while buttons are links*/
nav > * {
  /* border: none; */
  background-color: #FFFFFF;
  /* color: #FFFFFF; */
  font-size: 1em;
}

#topBarSpace {
  flex-grow: 1;
}

#topBarQuote {
  font-style: italic;
}

#footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  margin-top: 0; /*important to avoid inherited values*/
  margin-bottom: 0; /*important to avoid inherited values*/
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #FFFFFF;
  text-align: center;
  position: fixed;
  bottom: 0px;
}

.headshot {
  height: 20em;
  width: 15em;
  background-color: yellow;
}
